.App {
  background-color: rgb(147, 101, 168);
  text-align: center;
  color: "black";
}

.App-logo {
  height: 30vmin;
  pointer-events: fill;
}

.App-logo-rat {
  pointer-events: none;
  height: 10vmin;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.SongArtist {
  color: rgb(36, 91, 128);
  font-size: calc(16px + 1vmin);
}

.App-header {
  background-color: rgb(147, 101, 168);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 1vmin);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
}

.Date{
  color: rgb(153,255,205);
  font-size: 5vh;
}

.SongTitle{
  color: rgb(36, 91, 128);
  font-size: 10vh;
}

.App-subheader {
  /* nicole */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(51, 52, 54);
}

.Song-Title{
color: rgb(73,79,82);
}

nav{
font-size: calc(10px + 1vmin);
display: list-item;
justify-content: center;
min-height: 10vh;
background: rgb(73,79,82);
color: white;
font-size: calc(8px + 1vmin);
}

.Past-Links{
  font-style: 10;
  align-items: center;
}


.nav-links{
width: 40%;
align-items: center;
display: inline-flex;
justify-content: space-around;
list-style: none;
font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.xx {
  font-size: 10;
}